body {
  background-color: rgba(0, 168, 255, 0.2)}

#content {
     margin-left: 20px;
}
#Rules{
   font-size: 50px;
   margin-right:0%;
   margin-left: 43%;
   margin-top: 0%;
}
.text{
   font-size: 25px;    
   margin-right:0%;
   margin-left: 43%; 
   margin-bottom: 1%;
   border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  width: 350px;
  height: 250px;  
}
.log {
   margin-right: 350%;
   margin-left: 350%;
    
}
#name{
    color: white;
}





