body {

}

#content {
     margin-left: 20px;
}
#Rules{
   font-size: 30px;    
   margin-right:0%;
   margin-left: 75%; 
   margin-top: 0%;
}
#text{
   font-size: 15px;    
   margin-right:0%;
   margin-left: 75%; 
   margin-top: 1%;

  
}
