body {
  background-color: rgba(0, 168, 255, 0.2)
  }
#content {
     margin-left: 20px;
}
#Rules{
   font-size: 50px;
   margin-right:0%;
   margin-left: 43%;
   margin-top: 0%;
}
.text{
   font-size: 25px;    
   margin-right:0%;
   margin-left: 33%; 
   margin-bottom: 1%;
   border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  width: 650px;
  height: 550px;  
}
.log {
   margin-right: 350%;
   margin-left: 350%;
    
}
#name{
    color: white;
}
#DT{
  margin-right:25%;
  margin-left: 20%; 
  margin-bottom: 1%;
  margin-top: 20%;
   border-radius: 25px;
  border: 10px solid #73AD21;
  padding: 20px; 
  width: 350px;
  height: 250px;
  background-color: {255, 150, 234;}
}
#WR{
   margin-right:0%;
  margin-left: 3%; 
  margin-bottom: 1%;
  margin-top: 20%;
   border-radius: 25px;
  border: 10px solid #73AD21;
  padding: 20px; 
  width: 350px;
  height: 250px;
}
h1{
text-align:center;
}





