{% extends "layout.html" %}

{% block title %}Discussion-Topics{% endblock %}

{% block content %}
  <h1>Welcome To The Discussion Page</h1>

  <div class="panel-group" id="accordion">
    <div class="panel panel-default test">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Favorite Shounen Anime</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
          {{Apost}}
          {% if logged_in %}
          <form method="post" action="{{ url_for('renderdiscussionfs')}}">
            <input type="text" name="message">
            <input type="submit" value="Submit">
            </form>
            {% else %} 
            <a href="http://127.0.0.1:5000/login">
              <button type="button">Click to Login!</button>
              </a>
          {% endif %}

        </div>
      </div>
    </div>
    <div class="panel panel-default test">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Topic Title</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
          {{Apost}}
          {% if logged_in %}
          <form method="post" action="{{ url_for('renderdiscussionfs')}}">
            <input type="text" name="message">
            <input type="submit" value="Submit">
            </form>
            {% else %} 
            <a href="http://127.0.0.1:5000/login">
              <button type="button">Click to Login!</button>
              </a>
          {% endif %}

        </div>
      </div>
    </div>
    <div class="panel panel-default test">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Collapsible Group 3</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
  </div> 
{% endblock %}
