{% extends "layout.html" %}

{% block title %}Discussion-Topics{% endblock %}

{% block content %}
  <h1>Welcome To The Discussion Page</h1>

     <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          Which Shounen Anime is your Favorite?
        </a>
      </div>
     <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
        {{post1}}
          {% if logged_in %}
          <form method="post" action="{{ url_for('renderdiscussionfs')}}" class="display-none">
            <label for="comment">  {{ session['user_data']['login']}}: </label>
            <textarea class="form-control" rows="5" id="comment" name="message1"></textarea>
            <input type="submit" value="Submit">
            </form>
            {% else %} 
            <a href="http://127.0.0.1:5000/login">
              <button type="button">Click to Login!</button>
              </a>
          {% endif %}

        </div>
      </div>
    </div>
   <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
          Which Shounen Anime is your Favorite?
      </a>
      </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
         {{post2}}
          {% if logged_in %}
          <form method="post" action="{{ url_for('renderdiscussionfs')}}" class="display-none">
            <label for="comment">  {{ session['user_data']['login']}}: </label>
            <textarea class="form-control" rows="5" id="comment" name="message2"></textarea>
            <input type="submit" value="Submit">
            </form>
            {% else %} 
            <a href="http://127.0.0.1:5000/login">
              <button type="button">Click to Login!</button>
              </a>
          {% endif %}

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
           Which Shounen Anime is your Favorite?
        </a>
      </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
        {{post3}}
          {% if logged_in %}
          <form method="post" action="{{ url_for('renderdiscussionfs')}}" class="display-none">
            <label for="comment">  {{ session['user_data']['login']}}: </label>
            <textarea class="form-control" rows="5" id="comment" name="message3"></textarea>
            <input type="submit" value="Submit">
            </form>
            {% else %} 
            <a href="http://127.0.0.1:5000/login">
              <button type="button">Click to Login!</button>
              </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}
