{% extends "layout.html" %}

{% block title %}Discussion-Topics{% endblock %}

{% block content %}
  <h1>Welcome To The Discussion Page</h1>

   <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          Favorite Shounen Anime
        </a>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
        {{post1}}
          {% if logged_in %}

          <form method="post" action="{{ url_for('renderdiscussionfs')}}" class="display-none">
            <input type="button">Post</button>
            <input type="text" name="message1">
            <input type="submit" value="Submit">
            </form>
            {% else %} 
            <a href="http://127.0.0.1:5000/login">
              <button type="button">Click to Login!</button>
              </a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        Topic Title
      </a>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
         {{post2}}
          {% if logged_in %}
          <form method="post" action="{{ url_for('renderdiscussionfs')}}">
            <input type="text" name="message2">
            <input type="submit" value="Submit">
            </form>
            {% else %} 
            <a href="http://127.0.0.1:5000/login">
              <button type="button">Click to Login!</button>
              </a>
          {% endif %}

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
          Collapsible Group Item #3
        </a>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
        {{post3}}
          {{post2}}
          {% if logged_in %}
          <form method="post" action="{{ url_for('renderdiscussionfs')}}" class="display-none">
            <input type="text" name="message3">
            <input type="submit" value="Submit">
            </form>
            {% else %} 
            <a href="http://127.0.0.1:5000/login">
              <button type="button">Click to Login!</button>
              </a>
           {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
