<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li {% if active_page == "home" %} class="nav-item active"{% else %}class="nav-item"{% endif %}>
      <a class="nav-link" href="/">Home</a>
    </li>
    <li {% if active_page == "discussion" %} class="nav-item active"{% else %}class="nav-item"{% endif %}>
      <a class="nav-link" href="/discussion">Discussion Topics</a>
    </li> {% if logged_in %}
       <li class="nav-item">Github userid: {{ session['user_data']['login']}}</li> 
       
	{% endif %}
       
	  {% if logged_in %}
	   <li class="nav-link log "><a href="/logout">Logout</a> </li>
	  {% else %}
	   <li class="nav-link log"><a href="/login">Login</a> </li>
	  {% endif %}
  </ul>
</nav>



