{% extends "layout.html" %}

{% block title %}page1{% endblock %}

{% block content %}
  <h1>Rules of The Website</h1>


  <h2 id="Rules">Site Rules</h2>
   <div class="text">
  <p > No Profanity </p>
  
  <p> Content created by and shared by users in FSVAnime's community space where users interact with each other should be
  appropriate for the comfort of a wide range of users. Avoid especially salacious or graphically violent content, as well as material
  likely to be found offensive, including excessive vulgarity, and tasteless commentary or jokes regarding rape, sexual orientation, race,
  nationality, religion, etc. when contributing to forums, comments, guest books, groups, and user reviews, and when creating your profile.</p>
   </div>
  
 
  

<pre>
{{ dump_user_data }}
</pre>

{% endblock %}
